.second-page {
    position: relative;
    display: block;
    height: 1080px;
    overflow: hidden;
    width: 100vw;
    background-color: #1b0080;
}
.second-main-text {
    position: absolute;
    font-size: 200.5px;
    font-weight: 600;
    color: #99dd6e;
    top: -13%;
    width: 50%;
    line-height: 1.3;
    letter-spacing: normal;
}
.main-image {
    position: absolute ;
    width: 535px;
    height: 630px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}